body {
    user-select: none;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 5rem;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes, #dice {
    cursor: pointer;
    transition: transform 250ms ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.boxes:hover, #dice:hover {
    transform: scale(1.05);
}

.boxes {
    width: 150px;
    height: 150px;
    border: 0;
    border-radius: 15px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#number-container {
    display: flex;
}

#dice {
    position: fixed;
    bottom: 100px;
    background-color: lightgray;
    width: 450px;
    height: 150px;
    border: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dice-roll {
    position: relative;
    top: 200px;
}

#reset-btn {
    cursor: pointer;
    font-size: 2.5rem;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 200px;
    height: 100px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.usedBox {
    background-color: black;
}

@media (max-width: 450px) {
    body {
        font-size: 1.25rem;
    }

    #number-container {
        width: 100vw;
        justify-content: center;
        flex-wrap: wrap;
    }

    .boxes {
        width: 50px;
        height: 50px;
    }

    #dice {
        width: 150px;
        height: 50px;
        bottom: 150px;
    }

    #dice-roll {
        top: 20vw;
    }

    #reset-btn {
        width: 75px;
        height: 40px;
        font-size: 0.75rem;
    }
}